<head>
  <meta charset='utf-8' />
  <title>{{ site.title }}</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <meta name="description" content="The Chautauqua County Land Bank Corporation (CCLBC) promotes strong neighborhoods and vibrant communities by addressing blight, improving property values, and transforming troubled properties into useful assets.">
  <meta name="author" content="Chautauqua County Land Bank">
  <meta property="og:title" content="Chautauqua County Land Bank Annual Report 2017" />
  <meta property="og:description" content="The Chautauqua County Land Bank Corporation (CCLBC) promotes strong neighborhoods and vibrant communities by addressing blight, improving property values, and transforming troubled properties into useful assets." />
  <meta property="og:image" content="{{ site.baseurl }}/img/westfield_home.jpg" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@orbitistllc">
  <meta name="twitter:creator" content="@orbitistllc">
  <meta name="twitter:title" content="Chautauqua County Land Bank Annual Report 2017">
  <meta name="twitter:description" content="The Chautauqua County Land Bank Corporation (CCLBC) promotes strong neighborhoods and vibrant communities by addressing blight, improving property values, and transforming troubled properties into useful assets.">
  <meta name="twitter:image:src" content="{{ site.baseurl }}/img/westfield_home.jpg">
  <link rel="shortcut icon" href="{{ site.baseurl }}/img/westfield_home.jpg">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/img/westfield_home.jpg">

  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  <!-- Font Awesome -->
  <script src="https://use.fontawesome.com/a118b04c82.js"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- Chart.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

  <!-- Style Sheets -->
  <link href='{{ site.baseurl }}/css/style.css' rel='stylesheet' />
  <link href='{{ site.baseurl }}/css/navbar.css' rel='stylesheet' />
  <link href='{{ site.baseurl }}/css/full-page-hero.css' rel='stylesheet' />
  <link href='{{ site.baseurl }}/css/hero.css' rel='stylesheet' />
  <link href='{{ site.baseurl }}/css/footer.css' rel='stylesheet' />
  <link href='{{ site.baseurl }}/css/odometer.css' rel='stylesheet' />
  <link href='{{ site.baseurl }}/css/charts.css' rel='stylesheet' />
  <link href='{{ site.baseurl }}/css/maps.css' rel='stylesheet' />
  <link href='{{ site.baseurl }}/css/videos.css' rel='stylesheet' />
  <link href='{{ site.baseurl }}/css/pull-quotes.css' rel='stylesheet' />
</head>
